* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.6rem;
}

main {
  background: url("./assets/Background.jpg") no-repeat center/cover;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
section {
  background: #6d67d0;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

.temperature-now {
  background: url("./assets/bg-temp-now.jpeg") no-repeat center/cover;

  width: 48rem;
  height: 48rem;
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.temperature-now::before {
  content: "";
  width: 17.6rem;
  height: 17.6rem;
  background: url("./assets/clouds.svg") no-repeat;
  position: absolute;
  top: -5.6rem;
  left: -5.6rem;
}

.location {
  display: flex;
  justify-self: end;
  align-items: center;

  gap: 0.4rem;
  padding: 3.2rem 3.2rem 0;
}

.location strong {
  color: #c2bff4;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.temp {
  display: flex;
  text-align: center;
  justify-content: center;

  margin: 6rem;
  font-weight: 700;
  gap: 0.4rem;
}

.temp .number {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.4rem;

  font-size: 8.8rem;
  line-height: 10.6rem;
  color: #ffffff;
}

.temp .number .maxmin {
  font-size: 2rem;
  line-height: 2.4rem;

}

.temp .number .maxmin span {
  color: #C2BFF4;
}

.celsius {
  font-size: 2.4rem;
  color: #DAD8F7;
  margin-top: 1.5rem;
}

.statistics {
  display: flex;
  justify-content: space-around;
}

.stats {
  display: flex;
  align-items: center;
  background: rgba(102, 96, 200, 0.6);
  padding: 1.2rem 1.6rem;
  margin-bottom: 1.2rem;
  gap: 1.2rem;
  border-radius: .6rem;
}

.stats img {
  opacity: 0.4;
}

.stats .info {
  color: #E7E6FB;
}
.info p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.info h5 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.info span {
  font-size: 1.4rem;
}